.cities-section {
    background: #fff;
    height: 840px;
    padding-top: 10em;
    position: relative;
}

.cities-section .section-title {
    margin-bottom: 1em;
}

/* Widgets */
.bracket {
    bottom: 38.5em;
    right: 13em;
}

.times-yellow {
    bottom: 25em;
    left: 22.4em;
    z-index: 0;
}

.times-purple {
    bottom: 2em;
    right: 31em;
}