.cities {
    background: #fff;
    height: 840px;
    padding-top: 10em;
    position: relative;
}

.cities__title {
    margin-bottom: 1em;
}


/* Widgets */

.widget__bracket {
    bottom: 38.5em;
    right: 13em;
}

.widget__times--yellow {
    bottom: 25em;
    left: 22.4em;
    z-index: 0;
}

.widget__times--purple {
    bottom: 2em;
    right: 31em;
}
