.events-section {
  background: #F2F2F2;
  height: 840px;
  padding-top: 10em;
  position: relative;
}

.events-section .section-title{
  margin-bottom: 1em;
  padding-right: 1em;
  text-align: right;
}

/* Widgets */

.triangle {
  top: 2em;
  left: 12em;
}

.event-bracket {
    bottom: 0.1em;
    right: 35em;
    transform: rotate(30deg);
    color: black;
}