/* Componente Layout */

.layout {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: right top;
}

.mainContent {
    flex: 1;
}
