/**
 * Styles For the Button Component
 */
.community-button {
  display: inline-block;
  font-family: "Open Sans";
  font-weight: 400;
  text-align: center;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 5px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.community-button.primary {
    color: #737373;
    background-color: #f7e018;
    border-color: #f7e018;
}

.community-button.primary:hover {
    color: #f7e018;
    background-color: transparent;
}

.community-button.secondary {
    color: #f7e018;
    background-color: transparent;
    border-color: #f7e018;
}

.community-button.secondary:hover {
    color: #737373;
    background-color: #f7e018;
    border-color: #f7e018;
}

