/*! purgecss start ignore */
@tailwind base;
@tailwind components;

h1 {
    @apply text-5xl;
}

h2 {
    @apply text-4xl;
}

h3 {
    @apply text-3xl;
}

h4 {
    @apply text-2xl;
}

/* Fixes ol styling for markdown */
ol {
    @apply list-decimal my-3 ml-6 font-medium text-2xl;
}


/*! purgecss end ignore */
@tailwind utilities;

/* Contenedor con padding */

.ec-container {
    padding-left: 10%;
    padding-right: 10%;
}

/* Componente Home */

.home-section-container {
    padding-top: 10em;
    padding-bottom: 5em;
    font-family: Roboto;
    position: relative;
    background-image: url("../images/background/path.svg");
    background-repeat: no-repeat;
    background-position: right;
}

@media (max-width: 800px) {
    .home-section-container {
        background-position: 0% 50%;
    }
}

/* Fin componente Home */
