/*! purgecss start ignore */
@tailwind base;
@tailwind components;

h1 {
    @apply text-5xl;
}

h2 {
    @apply text-4xl;
}

h3 {
    @apply text-3xl;
}

h4 {
    @apply text-2xl;
}

/* Fixes ol styling for markdown */
ol {
    @apply list-decimal my-3 ml-6 font-medium text-2xl;
}


/*! purgecss end ignore */
@tailwind utilities;

body {
    font-family: "Roboto", sans-serif;
}

/* Contenedor con padding */

.ec-container {
    padding-left: 5%;
    padding-right: 5%;
}

.section-title {
    font-size: 50px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
}

.small-widget {
    position: absolute;
    z-index: 500;
}
