/*! purgecss start ignore */
@tailwind base;
@tailwind components;

h1 {
    @apply text-5xl;
}

h2 {
    @apply text-4xl;
}

h3 {
    @apply text-3xl;
}

h4 {
    @apply text-2xl;
}


/*! purgecss end ignore */
@tailwind utilities;