.card {
    min-width: 291px;
    height: 425px;
    border-radius: 10px;
    background: #e0e0e0;
    overflow: hidden;
    margin-right: 2em;
    user-select: none;
}

.card__header {
    width: 100%;
    padding: 24px 24px 15px;
}

.card__img--viewport {
    width: 100%;
    height: 136.13px;
    overflow: hidden;
    border-radius: 15px;
}

.card__img {
    width: 100%;
    display: block;
}

.card__body {
    padding: 0 24px 24px 24px;
}

.card__topic {
    font-weight: bold;
    font-family: "Roboto", sans-serif;
}

.card__date {
    color: #666363;
    font-weight: bold;
}

.card__description--title {
    margin-right: .5em;
}

.card__description {
    overflow: hidden;
    max-height: 140px;
}

.card__description--text {
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.1;
    font-family: "Roboto", sans-serif;
}

.card__readmore {
    margin-left: .3em;
}

.card__description--text a {
    font-weight: bold;
}