:root {
    --scale-factor: 0.9;
}

.persona {
    position: relative;
}

.persona__photo {
    width: calc(170px * var(--scale-factor));
    height: calc(170px * var(--scale-factor));
    background-color: #333333;
    position: absolute;
    top: calc(-120px * var(--scale-factor));
    left: calc(65px * var(--scale-factor));
    border: 15px solid #333333;
    border-radius: 50%;
    overflow: hidden;
}

.persona__photo img {
    transition: transform 300ms ease-in-out;
    cursor: pointer;
}

.persona__photo img:hover {
    transform: scale(1.2);
}

.persona__photo img {
    width: 100%;
    display: block;
}

.persona__body {
    width: calc(300px * var(--scale-factor));
    height: calc(210px * var(--scale-factor));
    background: #e5e5e5;
    border-radius: 15px;
    position: relative;
}

.persona__text {
    width: 100%;
    height: 100%;
    padding: 2.8em 1em 2em;
}

.persona__name {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: calc(25px * var(--scale-factor));
    text-align: center;
    white-space: nowrap;
}

.persona__rol {
    font-family: "Roboto", sans-serif;
    color: #656262;
    font-weight: 400;
    font-size: calc(16px * var(--scale-factor));
    display: block;
    width: 100%;
    text-align: center;
}

.persona__description {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: calc(12px * var(--scale-factor));
    line-height: calc(14px * var(--scale-factor));
    text-align: justify;
}

.persona__footer {
    width: 180px;
    left: calc(50% - 90px);
    position: absolute;
    bottom: calc((-43px / 2) * var(--scale-factor));
    display: flex;
    justify-content: space-around;
}

.persona__icon {
    width: calc(40px * var(--scale-factor));
    display: block;
    transition: transform 30ms cubic-bezier(0.42, 0, 0.65, 2.07);
}

.persona__icon:hover {
    transform: translateY(-4px);
}
