.logo {
  height: 80px;
  margin: 0;
  padding: 0;
  flex-basis: 20%;
  background-size: 150em;
}

.logo h1 {
  margin: 0;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.shield {
  transform: scale(0.9);
}

.legend {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  font-size: clamp(18px, 1vw, 28px);
}
