.blogSection {
  background: #fff;
  /* height: 840px; */
  padding-top: 10em;
  position: relative;
}

.blogContainer {
  display: grid;
  grid-column-gap: 3%;
  grid-row-gap: 15px;
}

.blogSection__title {
  margin-bottom: 1em;
}

.blogContainer__more {
  grid-area: 4 / 2 / 5 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blogContainer__more__link {
  font-weight: bold;
  font-size: 1.5em;
  color: #056294;
}

/* MEDIA QUERIES */

/* Small devices (landscape phones, 320px and up) */
@media (min-width: 320px) {
  .blogContainer {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .blogContainer div {
    grid-area: auto !important;
  }
}

/* Extra arge devices (extra large desktops, 1201px and up) */
@media (min-width: 1201px) {
  :root {
    --grid-x1: 1;
    --grid-y1: 2;
    --grid-x2: 2;
    --grid-y2: 3;
  }

  .blogContainer {
    grid-template-columns: 20% 54% 20%;
    grid-template-rows: repeat(3, 1fr) 0.5fr;
  }

  .blogContainer div:first-child {
    grid-area: 1 / 1 / 3 / 2 !important;
  }

  .blogContainer div:nth-child(2) {
    grid-row: var(--grid-x1) / var(--grid-x2) !important;
    grid-column: var(--grid-y1) / var(--grid-y2) !important;
  }

  .blogContainer div:nth-child(3) {
    grid-row: calc(var(--grid-x1) + 1) / calc(var(--grid-x2) + 1) !important;
    grid-column: var(--grid-y1) / var(--grid-y2) !important;
  }

  .blogContainer div:nth-child(4) {
    grid-row: calc(var(--grid-x1) + 2) / calc(var(--grid-x2) + 2) !important;
    grid-column: var(--grid-y1) / var(--grid-y2) !important;
  }

  .blogContainer div:last-child {
    grid-row: calc(var(--grid-x1) + 3) / calc(var(--grid-x2) + 3) !important;
    grid-column: var(--grid-y1) / var(--grid-y2) !important;
  }

  .blogContainer div:nth-last-child(2) {
    grid-area: 1 / 3 / 3 / 4 !important;
  }
}
